* {
	margin: 0;
	padding: 0;
}


html {background-image: url(../images/background.jpg);
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/26px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	min-width: 400px;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {background-color: #000000;
    z-index: -1;
    height: 240px;
    border: solid 2px white;

    }
.sub {width: 160px;
background-color: #000000;
color: white;
border-radius: 3px;
border: solid 1px white;
cursor: pointer;
}
.form {
    color: white;
    margin-top: 7px;
    margin-right: 5px;
    float: right;
    font: normal 16px/ 1.5em Georgia, serif;}
p.clin {
   padding-top: 15px;
   text-indent: 40px;
   font: normal 42px/1.5em Georgia, serif;
   color: white;
}
.head {margin-top: 5px;
    margin-left: 150px;
    float: left;
    cursor: pointer;
}
.logo {cursor: pointer}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
     width: 100%;
	float: left;
	overflow: hidden;
    border-left: silver;
    border-right: silver;
    background-color: cornsilk;

}

.content {
    padding-left: 50px;
    padding-right: 50px;
	margin-top: 30px;
    margin-bottom: 30px;
    font: normal 24px/1.5em Georgia, serif;
    color: darkblue;
    text-align: justify;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.img {
    padding-left: 30px;
    float: right;
    width: 500px;
    height: 330px;
}
p.redstr {text-indent: 90px;
            }

.cont {text-align: center;
        width: 273px;
        float: left;
        font: normal 26px/1.5em Georgia, serif;
        cursor: pointer;}
h2 {text-align: center;
        color: mediumvioletred;
        font: normal Georgia, sans-serif;
        line-height: 1.5    }

#load { font-style: italic;
        color: blue;
        padding-top: 200px;
        margin: 0 auto;
        width: 900px;
        text-align: justify;
}
#serv { margin: 0 auto;
        width: 900px;
        text-align: justify;
        font: normal 22px/1.5em Georgia, serif;
        margin-bottom: 30px;
     color: blue;
}
strong {color: red}
table {
    border-collapse: collapse;
}
table th {text-align: center;}
table th,
table td {
    padding: 10px;
}
table.brd th,
table.brd td {
    border: 2px solid #000;
}
#ono {text-align: center;}
td#ono {width: 150px;
    height: 60px}
.conts{text-align: center}

.yashare-auto-init {margin: 0 auto;
text-align: center}


/* Left Sidebar
-----------------------------------------------------------------------------*/


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    background: -webkit-linear-gradient(-90deg, rgba(62,63,59,1) 0, rgba(112,112,112,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(62,63,59,1) 0, rgba(112,112,112,1) 100%);
    background: linear-gradient(180deg, rgba(62,63,59,1) 0, rgba(112,112,112,1) 100%);
    background-position: 50% 50%;
    min-width: 400px;
	max-width: 1200px;
	height: 200px;
    border: solid 1px cornsilk;
	}
.property {width: 420px;
    float: right;
    font: normal 18px/1.5em Georgia, serif;
    color: white;}
.img1 {z-index: +1}
.dop {height: 400px}